.stylingtable {
  font-size: 1vmax;
  align-items: center;
  table thead {
    background-color: #faa337;
  }
}
.form {
  font-size: 15px;
  border: 1px solid black;
  width: 30vmax;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vmax;
  padding: 1vmax;
  font-size: 1vmax;
  label {
    margin: auto;
    padding: 0.5vmax;
  }
  input,
  textarea {
    font-size: 1vmax;
    width: 15vmax;
    margin: auto;
  }
}
.button {
  font-size: 2vmax;
  width: 8vmax;
  margin: 0.5vmax;
}
