<div class="table-responsive-sm container stylingtable text-center">
  <table className="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Day In Time</th>
        <th>Day Out Time</th>
        <th>Total Hours</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of report">
        <td>{{ report.id }}</td>
        <td>{{ report.date }}</td>
        <td>{{ report.dayintime }}</td>
        <td>{{ report.dayouttime }}</td>
        <td>{{ report.totalHours }}</td>
        <td>{{ report.staus }}</td>
      </tr>
    </tbody>
  </table>
</div>
