<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          name="email"
          required
        />
        <div
          role="alert"
          class="alert-danger"
          *ngIf="
            submitted && f.email.errors && f.email.dirty && f.email.touched
          "
        >
          <div *ngIf="f.email.errors.required">Email is required!</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          formControlName="email"
          required
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="submitted && f.password.errors && f.password.dirty"
        >
          <div *ngIf="f.password.errors.required">Password is required!</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Login</button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Login failed
        </div>
      </div>
    </form> -->
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
      <p [ngClass]="{ 'has-error': submitted && f.email.errors }">
        <input
          class="form-control"
          type="email"
          placeholder="Email"
          formControlName="email"
        />
      </p>

      <div *ngIf="submitted && f.email.errors" class="help-block">
        <div class="alert-danger" *ngIf="f.email.errors.required">
          Email is required
        </div>
      </div>

      <p [ngClass]="{ 'has-error': submitted && f.password.errors }">
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </p>

      <div *ngIf="submitted && f.password.errors" class="help-block">
        <div class="alert-danger" *ngIf="f.password.errors.required">
          Password is required
        </div>
      </div>
      <div class="form-group mt-3">
        <button class="btn btn-primary btn-block">Login</button>
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Login failed
        </div>
      </div>
    </form>
  </div>
</div>
