<!-- <div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Attendance Management</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a>User List</a>
      </li>
      <li>
        <a>Holiday List</a>
      </li>
      <li>
        <a>Report</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbars">
      <div class="navbuttons">
        <div>
          <button
            type="button"
            id="sidebarCollapse"
            class="btn btn-lg togglebutton"
          >
            <i class="fas fa-align-left"></i>
          </button>
        </div>
        <div class="logbutton">
          <button
            type="button"
            id="sidebarCollapse"
            class="btn btn-danger btn-lg"
          >
            <span>Logout</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div> -->
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Attendance Management</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/dashboard/users']" [routerLinkActive]="'active'"
          >User List</a
        >
      </li>
      <li>
        <a [routerLink]="['/dashboard/holidays']" [routerLinkActive]="'active'"
          >Holiday List</a
        >
      </li>
      <li>
        <a [routerLink]="['/dashboard/report']" [routerLinkActive]="'active'"
          >Report</a
        >
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbars">
      <div class="navbuttons">
        <div class="logbutton">
          <button
            type="button"
            id="sidebarCollapse"
            class="btn btn-danger btn-lg"
            (click)="logout()"
          >
            <span>Logout</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
