<div class="table-responsive-sm container stylingtable text-center">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Name</th>
        <th>Email ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
