/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.container {
  margin: 8% 0% 2% 17% !important;
}
.stylingtable {
  font-size: 1vmax;
  table thead {
    background-color: #ffbf70;
  }
}
.form {
  font-size: 15px;
  border: 1px solid black;
  width: 30vmax;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vmax;
  padding: 1vmax;
  font-size: 1vmax;
  label {
    margin: auto;
    padding: 0.5vmax;
  }
  input,
  textarea {
    font-size: 1vmax;
    width: 15vmax;
    margin: auto;
  }
}
.button {
  font-size: 2vmax;
  width: 8vmax;
  margin: 0.5vmax;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
