<div class="table-responsive-sm container stylingtable text-center">
  <button  type="button" class="btn btn-lg btn-dark button"  data-toggle="modal" 
  data-target="#panel-modal2" (click)="add()">Add New Holiday</button>
</div>
<div class="table-responsive-sm container stylingtable text-center">
      <table class="table table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of holidays">
        <td>{{ item.date | date: "dd-mm-yyyy" }}</td>
        <td>{{ item.purpose }}</td>        
      </tr>
    </tbody>
  </table>
 
  <div
    class="modal modal-nutrition full-height from-right"
    id="panel-modal2"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-12">
              <h4 class="modal-title">Add Holiday</h4>
            </div>
          </div>
        </div>
        <div>
            <div class="form-group text-center">
              <label>Date :</label>
              <input class="form-control inputWidth" name="" type="date" />
            </div>
            <div class="form-group text-center">
              <label >Description :</label>
              <input name="" class="form-control inputWidth" type="text" />
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-lg btn-outline-dark button "
              >
                Add
              </button>
            </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-flat-secondary"
            data-dismiss="modal"
          >
            Cancel
          </button>
          <!-- <button
            type="button"
            class="btn btn-flat-primary"
            data-dismiss="modal"
          >
            Submit
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>